.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px black;
    margin-top: 100px;
}
  
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}
  
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}
  
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}
  
#startButton{
    position: absolute;
    top: 50px;
    left: 250px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}